body{
	margin-top:0px;
	overflow-y:hidden;
}

.split-container{
	height:100%;
	width:50%;
	position:absolute;
	padding-top:50px;
}
#split-container-code{
	/* background-color:#E0E0E0; */

}
#container-canvas{
	position:absolute;
	left:0px;
	width:100%;
	height:100%;
}
#main-canvas{
	width:100%;
	height:100%;
}
#container-code{
	margin:40px;
	position:relative;
	/* height:100%; */
}
.split-right{
	right:0px;
}
.split-left{
	left:0px;
}
#text-area-code{
	font-family:"Lucida Console", "Courier New", "sans-serif";
	width:100%;
/* 	height:100%; */
	outline:none;
	border:none;
	background:none;
	resize:none;
}

#btn-done-drawing{
/*     position:absolute;
    top:55px;
    left:5px; */
	background-color:#00cc00;
	font-weight:bold;
	color:#FFFFFF;
}

.commentedOut{
	color:#339933;
}
.keyword{
	color:blue;
}
.string{
	color:#990000;
}